[submodule "guessing_game"]
	path = guessing_game
	url = https://gitlab.com/rapassos/learn-rust-guessing_game
[submodule "hello_cargo"]
	path = hello_cargo
	url = https://github.com/rapassos/learn-Rust-hello_cargo
[submodule "variables"]
	path = variables
	url = https://github.com/rapassos/learn-Rust-variables
